<% case @evaluation.evaluation_type %>
<% when Evaluation::COST_EVALUATION %>
<h1>Editing cost evaluation</h1>
<% when Evaluation::FINISHED %>
<h1>Editing finish evaluation</h1>
<% end%>

<%= render 'form' %>

<%= link_to 'Back', :back %>
