<div style="margin:30px;position:absolute; bottom:10px;">
<%= session.to_s %><br>
USERS<br>
<% User.all.each do |u|%>
<%= u.email %><br>
<% end %>
PROJECT_MEM<br>
<% ProjectMembership.all.each do |pm|%>
<%= pm.to_json %><br>
<% end %>
PROJECT<br>
<% Project.all.each do |p|%>
<%= p.to_json %><br>
<% end %></div>
</pre>
