
<article id="help">
<h1>Help</h1>
<section id="list-of-contents">
	<h2>List of contents</h2>
	<ul>
		<li> <a href="#manage-account">Managing account </a>
			<ul>
				<li> <a href="#create-account">Creating an account</a></li>
				<li> <a href="#edit-account">Editing account info</a></li>
				<li> <a href="#remove-account">Removing account</a></li>
			</ul>
		</li>
		<li> 
				<a href="#manage-projects">Managing Projects</a>
				<ul>
					<li><a href="#create-project">Creating a project</a></li>
					<li><a href="#add-item">Adding items to backlog</a></li>
					<li><a href="#manage-item">Managing backlog items</a></li>
					<li><a href="#remove-item">Removing items from backlog</a></li>
					<li><a href="#burndown">Creating burn-down chart</a></li>
					<li><a href="#burndown-save">Saving burn-down chart to disc</a></li>
					<li><a href="#share">Sharing project</a></li>
					<li><a href="#share">Removing project</a></li>
				</ul>
		</li>
	</ul>
</section>
<section id="#manage-account">
<h2>Managing account</h2>
Lorem ipsum...
</section>

<section id="#manage-projects">
<h2>Managing projects</h2>
Lorem ipsum...
</section>
</article>
