// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-page
{
		p 
		{
			margin:0px;
		}
}

#home-welcome
{
	margin:20px;
}

#home-tour
{
	margin:20px;
}